---
title: "Download Test Reports PDF test reports Excel test reports Downloading test reports"
title_slug: "download-test-reports-pdf-test-reports-excel-test-reports-downloading-test-reports"
source_url: "https://support.hackerrank.com/articles/1786677446-downloading-pdf-and-excel-test-reports"
article_slug: "1786677446-downloading-pdf-and-excel-test-reports"
last_updated_exact: "Oct 14, 2025, 7:35 PM"
last_updated_relative: "Last updated 6 months ago"
breadcrumbs:
  - "Screen"
  - "Test Reports"
---

# Download Test Reports PDF test reports Excel test reports Downloading test reports

_Last updated: Oct 14, 2025, 7:35 PM (Last updated 6 months ago)_

HackerRank test reports provide a detailed view of a candidate’s performance and scores in a test. After candidates complete a test, you can view their detailed performance reports and download them in PDF or Excel formats.

You can use the downloaded reports to share with external evaluators or recruiters or to maintain internal performance records.

**Note:** You can download test reports only for candidates who have completed the test.

# PDF test reports

You can download individual PDF reports for each candidate. Each PDF report replicates the detailed test report and includes the following information:

![12345.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760355540329-12345.png?Expires=253370764800&Signature=U3ukAgjNpYN2~HxaIb1gDqeQ~dO6XgxJ4qi43f4lTwaFRf0AZ8FaZMqy7txtEgVnCrjl1IHpgp6IHb0VDqE5sARCDbTeLuiQVktME-fOHGURtqSpfbdXw1VsvchioDheKu4gMT~1ysvA02VDuwcGVuRfL206ELpURFS~uLhT6nJGHrjJwOS0JwndFKTAtNjXmO2TMJAmcnTRKccvCEBGys826AczWLOSbFzsPr8wZmWNANWN5STxb8G0uHzoE4ffqLgT7xdD~4~7VanDB2FpzvPvMfbO0~T0LXkSxhNd2oQibyWjlNUf3Gm3cvGCI22GqdOvdQX63h0HaUK2h5nOpQ__&Key-Pair-Id=K3NV4LZ47N8M46)

- Score

- Candidate information

- Skill distribution

- Tag distribution

- Questions and candidate answers

For more information about detailed test report, see [📄 Viewing a Candidate's Detailed Test report](/articles/8263794320).

If you use the new version of the summary report, the PDF also includes:

![downloaddetailpdf.gif](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760338787605-downloaddetailpdf.gif?Expires=253370764800&Signature=tQwvn6w50ujU3lKEeyA3~3w7v~tyKi5gX8kIBBYcz0~t2kkMt0-1V0vvDLTOgASPztfOo-r-9nuzqksYoCnpawIr~p0Lulfb6HufobsQHfvGzXmrV3VPIDGtgAKcqsItW5aRi1v5IVz3bJPyKQLL9iy7~2hz9rrpF4QidlcgOzvGfxvMcaYZmer~qy~m7CejI54h8LrhyBu2byimgsJgzeq-Gbh6kJCdBEuL43-cNuTEE3MYvXrWoUG0SLPZhrLIrGo4xwE8Tjb6iZLiCpXdGeXuA~kTWXxyrFVULPFKa885ufPuFzovXQ92kIdly9jtwnfdlvYCeTK~RoqHB5pMuA__&Key-Pair-Id=K3NV4LZ47N8M46)

- Code quality

- Integrity issues

- Performance summary

- Integrity summary

- Questions and answers with code quality details (If available)

**Note:** Although the PDF report includes the candidate's detailed answers to the questions, use the Detailed Report view in HackerRank for a thorough evaluation. The detailed report provides features such as **c**ode playback, compilation, rendering, and download.

# Excel test reports

The Excel test report contains the performance report for all candidates in a single file. You can customize the report in [Report Settings](https://hackerrank-knowledge-base.help.usepylon.com/articles/5213013268-report-settings#accessing-report-settings-1) to choose which candidate performance data to include when downloading it in Excel format.

# Downloading test reports

To download test reports in PDF or Excel format:

1.  Log in to your **HackerRank for Work** account using your credentials.

2.  Go to the **Tests** tab.

3.  Open the test whose reports you want to download.

4.  Go to the **Candidates** tab. The **Status** column indicates the test status of each candidate.

5.  In the left pane, expand **Candidate Status** and select **Completed**.\
    The right pane displays all candidates who have completed the test and are marked as `To Evaluate`, `Passed`, or `Failed`.

    ![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760303184475-image.png?Expires=253370764800&Signature=lHH46ThWMLKAr0r-omiirdHJn1POypgNyuXjbsO75poGX5E0UqckEt19boyGGVituWFr9EYoTw8kw3GEVPUdvtTeHNtmTmn~o7ko6dGUQQDs3R886~CSc27FEvgfwe3CiwXDV-Iky7RwD3HuwUa6ol1dNUs6Vfpb7SqZIqCliLAH~6IziSrXFXZHAm5mvT40DuMMHGb7pBRdxrj-9BQSUArQIfs25WIMIP0Xre79~iGEWvBNY3jkJ1hFkT~VmboAVtgsfjmo3dRuA3xuqlTdcymkyeh8ivmncl~fbLGjyVRp-LmMG2-602wSLh8g24Eq6jX5djfFBg40gpKawaTr-A__&Key-Pair-Id=K3NV4LZ47N8M46)

6.  Click **Export** and choose one of the following formats:

    ![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760303275571-image.png?Expires=253370764800&Signature=XzfvA7ocSq7wYj8fS6NVZ5ohip4ib3fcWwf5bNgQXGfAaEEf2nOEGSU37Ik1nVuMi-MATu6uY4A8oVFqKcneQT73-reOznUtOIyxkw6Yyhzt~dbSAXWgvZ-IJM3Jgpe4XXsajL6RWm5pSvfBtgJ9tNy7xkZQL3Z4Pb0oCSSrpCMZR82rYOr93HgHZ93A47zqoPClQsrMtPWoNdEl6sIIfSLNrhs~HtLfBmVDHGD910vHcsdzjX7~VXtsXSsdONtCzFxZWc9E3OAE6GlsnwJ5vTKPbKd20KRMOKjkv1mpGziEQfcQo1-bXZSw6UdYV6zcrDtVVjtWiUixADWbkuWk3A__&Key-Pair-Id=K3NV4LZ47N8M46)

    - **PDF**: Downloads a folder containing individual reports for each candidate.

    - **Excel:** Downloads a single file with all candidate results.

## Downloading test reports for selected candidates

To download test reports for selected candidates in PDF or Excel format:

![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760303411481-image.png?Expires=253370764800&Signature=mXPEDdzwDP6C3qwguVeCyvozqtrS-VQNlZ-nc3uDFAB5xweuwUwQj705R2FVizXRT1dRebNNGahW-07NNvR0ZY6IzJamZTJ-f8-GQfJnVC4pHsBZdBsP6UdEC99V13ltePjgysQoSO~CScwmhQCZUyzXlMVgExSjs88p3BjnIBCGQdxS-biK5ORIOSzBIiy-tIrGybwJSg2vYPr~BaurWv2YznUVu~J1NwJGA1ovR44JlAGMmOrX0z8H8~srqSYKpxslroUh8cvlHd6MaSzSpTr3wlUstYCWjBu0DR3UdOh5GxY6-Mvx75YIY~g4n4JY~7qskvu99pLi3hoeBfHzxA__&Key-Pair-Id=K3NV4LZ47N8M46)

1.  From the **Candidates** tab, select the specific candidates you want.

2.  Click **Export** and choose one of the following formats:

    - **PDF**: Downloads separate reports for the selected candidates.

    - **Excel**: Downloads a single file containing the selected candidates’ results.

**Note:**

You can also download a candidate’s report as a PDF file or share a summary report link directly from the **Summary Report** page.

- Click the **Download** icon to download the candidate’s report in PDF format.

- Click the **Share** icon and copy the link to share the Summary Report. Users must have a **HackerRank for Work** account to view the report using the shared link.

  - New Summary Report

    ![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760338808116-image.png?Expires=253370764800&Signature=R71ftj7CLAs7Rq8n7GT~93zdIKLxPy6qJC8FxM2hM1Vu6b1JhYwYgmBlyxRXb8C4uySYFVkBzvukWoLbcBjqLIH6XhVK4ywm7IZxYylTcOxgwTkUlGydFA~B1EULRE-JZUONGWHrTHZ4gz4XNTr7i4Gkx4bjSkVngqklXwDE~OZkT7zXcsBQ-rrg5Llw4dKzUxTuaubv9zQ~BCsyrQY4IsoJs9hGWv2s7~mBy~i65MdqT19GEQZNitgBJOPyM0kEGL~pG0PAaFBvi27o9WKHWNRo0i9cFMvZ8sO4PtbToY-~9qdSb100yWzhQlzF3M0a12uACPtVmgALuKDC4BLIYg__&Key-Pair-Id=K3NV4LZ47N8M46)

  - Existing Summary Report

    ![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1760302887325-image.png?Expires=253370764800&Signature=aKYoHx8iU4mvSLx99cSNxdaRa8pvfuis~6uZm8Yyi5~9twvCijg7bAWj0LuNasTJ2JpVlM7tjDBJ2XfNpCGzHrtu8yxSD59jEzerrNPfPnWBZmW2HjkjnmUrE33DGJa5mbHYumoH~veD9sdU5wK4oZk4xnyCikNmRPw3bd3oBHseX1fIaQGM4qNo62PloYK8~s3woqfN-5Ge4Pgo5RCwiGB~uSN3-TDasYoai3PQZerBAGA5r-fn~8TX7J4QuuORFN38LEWg5~18ApPLN7mVtlvRk0P2xKqpqDf25GCEexaFzyLOSyLE86K6eVh9vbfTMT9Q6T8pMOXDi9AagNNkfQ__&Key-Pair-Id=K3NV4LZ47N8M46)

\
