---
title: "Filtering and Sorting Candidate Test Reports"
title_slug: "filtering-and-sorting-candidate-test-reports"
source_url: "https://support.hackerrank.com/articles/1829746072-filtering-and-sorting-candidate-test-reports"
article_slug: "1829746072-filtering-and-sorting-candidate-test-reports"
last_updated_exact: "Jan 20, 2025, 11:11 AM"
last_updated_relative: "Last updated 1 year ago"
breadcrumbs:
  - "Screen"
  - "Test Reports"
---

# Filtering and Sorting Candidate Test Reports

_Last updated: Jan 20, 2025, 11:11 AM (Last updated 1 year ago)_

You can use various filters to search and view relevant reports. You can filter reports with filters such as the candidate's name, email ID, and status. After filtering reports, you can also sort these reports based on your selected criteria.

**Prerequisites**

- You must be logged in to your HackerRank for Work account.

- You must have created a test for which you want to view reports.

**Steps**

1.  Click the **Tests** tab on the home page and then click the required test.

2.  Click on the **Candidates** option from the test page.

3.  Now you have the complete list of the candidates who have been invited or participated in that test.  

4.  On the left pane, you have the **Candidate Status **filters, which allow you to filter the precise list of candidates based on your requirements.  

![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1737351323781-image.png?Expires=253370764800&Signature=KCXTYcEubH7YyaWmNJ~9p4cKnb7UfYqJiJs2w268eYUKgu7DR8DWaZFM~~N7rgQSehX~oEfzGyac~b2zcDxZIqCdbcZbAqmSmpPpbo0cWNCp3bmMz~Jnw7I7nd6SWO1jMU22dCGpLEnrTbmEgzoBgl1YpYoYzahQgR5Z-Z4ao2DY2zO3yuHCB1jkn4RIDGUI7Wt21~zHXrZBc3N17ySJlCd-SnU~DUI6h3wubdmV8NBGreSD0QOBBMNOHpmpt1x1ChuFADBwxnySxwzCaicvWUA9oiLrg4y58Aoi5rwSUcv0idvldBhjG78ga7bptdtX1uZXvYrPlfrs96krghJBiQ__&Key-Pair-Id=K3NV4LZ47N8M46)

**Note**: The report list automatically refreshes to display the appropriate data when you enter or select any of the filters.

The available default filters are:

- **Candidate Status:** This option enables you to filter the candidates by their test status, such as passed, failed, in progress, to be evaluated, etc…  

- **Total Score:** This filter enables you to set a range of scores to filter the candidates falling in that score zone. 

- **Invited By:** This filter enables you to select the candidates you invited rather than those who joined using the public URL.  

- **Invited On:** This filter lets you find the candidates invited within a particular time frame. 

- **Invitation expiry date:** This filter enables you to find the candidates whose invitations expired on a certain date.  

- You can also add a separate filter by clicking the **Add Filter** from the **Filters** section.

![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1737351656866-image.png?Expires=253370764800&Signature=TfsWVGFRYN2SAxiFBcEodwlaBE5CGnMhWjGN5c45-gogqAIz83BM9iLEV4IO~fGUMwvhyzVl~tveuqQophbS0TP6ljj2Rl92fEtCxP2YYnZ374Jtin09Sn1E5L8nwVua0IDiv~U6VDy0iTQrcTIsQk4EO1DiFHPL2WcKGCpJmPBkAHjKO0QvITSpRcjx-~ToDFW2G3k4GLuxhyHJnPk4FSLZFgGE2aBt5oocVVVkGZjoRe1V0~5ryIPDstP1SfBlaF2O6G1G9-B-p4Q1GsVxtO-sRxOm3TkPvFftnVu1M5BvFYg6Bixti4eLJ5v4sNvDrHJ3z6-dO-G44o6PSTXSXA__&Key-Pair-Id=K3NV4LZ47N8M46)

\
