---
title: "Viewing a Candidate's Detailed Test Report Prerequisite Viewing Detailed Reports Key Features of a Detailed Report"
title_slug: "viewing-a-candidates-detailed-test-report-prerequisite-viewing-detailed-reports-key-features-of-a-detailed-report"
source_url: "https://support.hackerrank.com/articles/8263794320-viewing-a-candidate%27s-detailed-test-report"
article_slug: "8263794320-viewing-a-candidate%27s-detailed-test-report"
last_updated_exact: "Jan 28, 2026, 9:50 AM"
last_updated_relative: "Last updated 3 months ago"
breadcrumbs:
  - "Screen"
  - "Test Reports"
---

# Viewing a Candidate's Detailed Test Report Prerequisite Viewing Detailed Reports Key Features of a Detailed Report

_Last updated: Jan 28, 2026, 9:50 AM (Last updated 3 months ago)_

HackerRank for Work provides Detailed Test reports that help you review your candidate's performance in a test. These test reports are generated once the candidate submits their test, their answers are evaluated, and the scores are assigned based on the scoring mechanism.

Based on the Question type, the Detailed test report includes specific options to view, playback, compile, render, compare, and download the candidate's answer or solution. With these capabilities in the report, you can conduct a detailed evaluation of the answers, change scores, and record your feedback.

# Prerequisite

- You must have at least one test attempt by the candidate.  

# Viewing Detailed Reports 

1.  Navigate to **Tests** and select the required Test.

2.  Click the **Candidates** tab and select a candidate entry.

3.  Click **View detailed** from the **Questions** section on the Candidate's Summary tab to open the detailed reports. You can also click on the individual questions to open a detailed report for that specific question.

# Key Features of a Detailed Report

- Upon clicking on **View Detailed,** you will be taken to the **Detailed Report** page, where your selected question from the candidate’s test will be loaded along with their answer in full-screen mode.

- On the right pane of the page, you can see the **Problem Statement,** which is closed by default. You can open it by clicking on the **Problem Statement** dropdown.  

- You can toggle between the questions using the **Previous/Next **arrows at the top of the page.

  ![detailed report new enhancement.gif](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1769342205075-detailedreportnewenhancement.gif?Expires=253370764800&Signature=tyXdE4DgdEBR1~nF-Mpx0r-1GB-hz84crPuxCDUnAWjH7GB0KD4a3QWyydTGVZ7e7~kJgLQu~K557wk7GhNbeMFBfxHuy1DqlAGfw0LRwHOBSTdJPIM7uOetdqUcpJ4riR1JjNdj8AFL1r5RoTwHhllE3FN8E16ExFH84fXJwoCZXXBEutDC99wkD0foaa4g7ljfcROK~YP5Szvs5Iif93WrvF9kVSILfCppVMUlmEGOOMyvUHCNXIrw0VPAO8sribSpiVz8BTN5BMl-3zI~gyeIsP-eT6e-E10hCPTL4ESvHNu5fYaGPvfIB5BTQRDJ864uPqkvOFHmsmusUPHMmg__&Key-Pair-Id=K3NV4LZ47N8M46)

- The **All Questions** dropdown allows you to access all the questions from the candidate’s test. 

- You can see the Evaluation Status on the top left corner of the page. The candidate’s preferred language used to answer the question is also displayed.

- In the center, you can find the **Review Code** option, which will take you to the candidate’s Interview experience, where you can review the code submitted by the candidate. 

**Note**: In a scenario where a test question is modified after a candidate has attempted it, the **Review Code** option from the detailed reports is removed, and recruiters cannot use this option. 

- Within the **Score** field, you can assign or modify a question's score based on your assessment.

  ![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1742366305530-image.png?Expires=253370764800&Signature=YVq3L3kLqRfuTb5eEQs2m1UAVGYUkX7tFlhJ28vLx3uMZbqM6ikOGEe30s2bLQAe1eAFm-dXoMEpSTylKhLOSqvegJb7iGGwE4iEFzWRXgCE7CxIzRmxdCQABaOQs-KrvFKS~5cr9twKhMeolPPPQQQkRSgc6FUC04uNBOtG-hYXR4szDsl1~fIvtrISwgkphp7QGyyMb8a4i9STppcU2BNOZUWNIIGMKN~17pqGx3MDAYr7o5wdAB-fB2T33KIGn2-nT5xw0iKY411xBmtRCO2sxte0dCDSHzGgcpW2Vy~sbUDLXxjgAxpvYDIaGYTcc3sWBv~5dmPzSAiqv6-f~A__&Key-Pair-Id=K3NV4LZ47N8M46)

<!-- -->

- On the bottom of the page, you can see the **Test Cases.** Here, you can see the Test case type, its result, the score the candidate attained for a particular test case, the time the candidate took for the test case, the memory used, and the option to check the **Output Diff.**

**Note:** This tab is only for those question types that consist of Test Cases. 

- On the **Suspicious Activity** tab, you can view plagiarism match among the candidates or code copied from external sources. For plagiarism, the report shows the match percentage and the source. Select **View diff** to compare the two code submissions.

  ![detailed report new enhancement2.gif](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1769342457822-detailedreportnewenhancement2.gif?Expires=253370764800&Signature=M~gMW2iXaf8nrgGKE8AvmFboiv9FwNjUg1CCRfkWjiTkyRIN~WXvYiluWoRhCwWhoRWY8MAS07-ct-xF1~wnrpXhAU3vJ31H592dZZRTSH2rjDwUQl2yUN6Jaj5kAhlaKV0HeCdmFReA4zs5VKgPg3mohKK7hWJLU6ipnjk42nQzdoLVF5sHKXQ0Gbkp~CM0lJ7gKcDXKoV0dbZItconIMoftFXP1SAgqMNNHf2dwKm6w1t1aCqi7MKPih9NngnL~~rBhLxlgb5qRPTpyUjKL33qy6Q~-2l0RPQVtFstiqmLauB~7JWAJqGJhA4wOsThIHWdzyYgJpqjTvE-k42S3Q__&Key-Pair-Id=K3NV4LZ47N8M46)

<!-- -->

- On the comments tab, you can find the comments by all the recruiters who have evaluated the candidate’s attempt. You can also write a comment in the given placeholder and publish it by clicking **Comment**. 

## Code Playback

Using the detailed reports, you can check the candidate’s test activity using the **Keystroke Code Playback. **

- The entire candidate answering a question activity will be screen recorded and presented to you in a video format, enabling you to evaluate the candidate more effectively.  

- The code playback option automatically highlights the active timeline, making it easy to navigate through the playback without wasting time.

- The **Skip Inactivity** option is enabled by default, which helps you play the code without dead air moments when the candidate has not been active.

- You can also control the playback speed by clicking on the 1x button.

![image.png](https://assets.usepylon.com/e6a58e21-be80-4777-9eaf-f73beeee94d9%2F1742366681426-image.png?Expires=253370764800&Signature=aGS0Jo4emYU-jvs6TEZoVWtM38nlJH4gAZxPtIgeS0xjToStwT9FsN9zZkT4BlATqFU-H8~YRXFSVa11xxOrWnL7KpyIsnc5bth5DPj7D9XZ4TcVL-i5QQXRO9bNeKVEh9rn6FCAcTOiywA-2zmjO~Aw96B5Y1JI9fLDA3bxJGooWrnsZvxxZW3F~J-JjDX0ZfOXYHYEIfCGr9kaubcsRj5ySotW-Y2v5cPRlkcniOG17tOptMyUvOFUl3H5v-RX6LvyUiT3CFQOWBI~jXNIhRjpS5HaqMzVsDPWzOadrdZ4ZBDHziJg5oIh~D0eCH8x76gXEv9YF3c7-ZTgYFwzWg__&Key-Pair-Id=K3NV4LZ47N8M46)

**Note:** The Code Playback feature is available only for Coding questions. 

The detailed report for each question type (multiple-choice, Coding, Whiteboard, Projects, etc.) will differ slightly depending on whether the questions are auto-scored or manually evaluated.
